@page "/checkout"
@{
    ViewData["Title"] = "Thanh toán";
}
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form id="checkoutForm">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Thông tin giao hàng</h6>

                        <div class="checkout__input">
                            <p>Họ và tên<span>*</span></p>
                            <input type="text" id="fullName" required placeholder="Nhập họ và tên của bạn" />
                            <div id="fullNameError" class="text-danger small"></div>
                        </div>

                        <div class="checkout__input">
                            <p>Số điện thoại<span>*</span></p>
                            <input type="text" id="phone" required placeholder="VD: 0901234567" />
                            <div id="phoneError" class="text-danger small"></div>
                        </div>

                        <div class="checkout__input">
                            <p>Email<span>*</span></p>
                            <input type="email" id="email" required placeholder="VD: nguyenvana123@gmail.com" />
                            <div id="emailError" class="text-danger small"></div>
                        </div>

                        <div class="checkout__input">
                            <p>Địa chỉ nhận hàng<span>*</span></p>
                            <input type="text" id="address" required placeholder="VD: 123 Hoàng Diệu, Hải Châu, Đà Nẵng" />
                            <div id="addressError" class="text-danger small"></div>
                        </div>

                        <div class="checkout__input">
                            <p>Ghi chú (tuỳ chọn)</p>
                            <input type="text" id="note" placeholder="Giao giờ hành chính, gọi trước khi giao..." />
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Đơn hàng của bạn</h4>
                            <div class="checkout__order__products">Sản phẩm <span>Thành tiền</span></div>
                            <ul id="checkoutProductList" class="checkout__total__products"></ul>
                            <ul class="checkout__total__all">
                                <li>Tổng cộng <span id="checkoutTotal">0 ₫</span></li>
                            </ul>
                            <button type="submit" class="site-btn w-100">ĐẶT HÀNG</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="~/js/checkout/checkout.js"></script>
