@page "/gio-hang"

@{
    ViewData["Title"] = "Giỏ hàng";
}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Giỏ hàng</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <a href="/cua-hang">Cửa hàng</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart-items-body"></tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/cua-hang">Tiếp tục mua sắm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Tổng cộng</h6>
                    <ul>
                        <li>Tạm tính <span>169.500 ₫</span></li>
                        <li>Thành tiền <span>169.500 ₫</span></li>
                    </ul>
                    <a id="btn-checkout" href="/checkout" class="primary-btn">Tiến hành đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/shopping-cart/shopping-cart.js"></script>